<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Admin Dashboard</h1>

  <% if (typeof error !== "undefined") { %>
    <p style="color:red;"><%= error %></p>
  <% } %>
</body>
</html>